{% extends 'base.html.twig' %}

{% block title %}Log index{% endblock %}

{% block body %}
    <h1>Log index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ip</th>
                <th>Mac</th>
                <th>Sented</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td>{{ log.ip }}</td>
                <td>{{ log.mac }}</td>
                <td>{{ log.sented ? log.sented|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ log.result }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
