{% extends 'base.html.twig' %}

{% block title %}Log{% endblock %}

{% block body %}
    <h1>Log</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ log.id }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ log.source }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ log.destination }}</td>
            </tr>
            <tr>
                <th>Sented</th>
                <td>{{ log.sented ? log.sented|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Result</th>
                <td>{{ log.result }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ log.user }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ldap_user.index') }}">back to list</a>

    <a href="{{ path('ldap_user.edit', {'id': log.id}) }}">edit</a>

    {{ include('ldap_user/_partials/_delete_form.html.twig') }}
{% endblock %}
