{% trans_default_domain 'app' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ 'Login'|trans }}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body id="login" class="text-center">
    <main class="w-100 m-auto">
        <form method="post">
            <img src="{{ asset('build/images/logo.png') }}" alt="{{ 'Logo'|trans }}">
            <h1>{{ 'Login'|trans }}</h1>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {% if app.user %}
                <div class="alert alert-info">
                    {{ 'You are already connected'|trans }}, <a href="{{ path('logout') }}">{{ 'logout'|trans }}.</a>
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="username">{{ 'Username'|trans }}</label>
                <input type="text" value="{{ lastUsername }}" name="_username" id="username" class="form-control" required autofocus>
            </div>
            <div class="mb-3">
                <label for="password">{{ 'Password'|trans }}</label>
                <input type="password" name="_password" id="password" class="form-control" required>
            </div>
            <button class="btn btn-lg btn-success" type="submit">
                {{ 'Sign in'|trans }}
            </button>
        </form>
    </main>
</body>
</html>